<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Appearance settings</title>
        <title lang="de-DE">Darstellungseinstellungen</title>

        <input-field type="colorpicker">
            <name>sidebarColor</name>
            <label>Sidebar color</label>
            <label lang="de-DE">Sidebarfarbe</label>
            <default>#222222</default>
        </input-field>

        <input-field type="colorpicker">
            <name>sidebarTextColor</name>
            <label>Sidebar Font Color</label>
            <label lang="de-DE">Sidebar Schrift Farbe</label>
            <default>#bcc9dc</default>
        </input-field>
    </card>

    <card>
        <title>Login area</title>
        <title lang="de-DE">Loginbereich</title>

        <input-field type="text">
            <name>loginHeadline</name>
            <label>Überschrift</label>
            <placeholder>Hallo!</placeholder>
        </input-field>

        <input-field type="text">
            <name>loginSubHeadline</name>
            <label>Unterüberschrift</label>
            <placeholder>Willkommen zurück.</placeholder>
        </input-field>

        <component name="sw-media-field">
            <name>loginBackgroundImg</name>
            <label>Login background image</label>
        </component>

        <input-field type="text">
            <name>loginContentHeadline</name>
            <label>Anmeldeinhalt Überschrift</label>
            <placeholder>Melde Dich in Deinem Shopware-Shop an</placeholder>
        </input-field>
    </card>

    <card>
        <title>Newsletter</title>

        <input-field type="checkbox">
            <name>newsletterShowBirthday</name>
            <label>show Birthday field</label>
            <label lang="de-DE">Geburtstagsfeld anzeigen</label>
            <default-value>false</default-value>
        </input-field>
    </card>

    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>

        <input-field type="bool">
            <name>recalculateGrossPrices</name>
            <label>recalculate gross prices</label>
            <label lang="de-DE">Bruttopreise neu berechnen</label>
        </input-field>

        <component name="sw-entity-multi-id-select">
            <name>recipientRoles</name>
            <entity>acl_role</entity>
            <label>Roles for Flowbuilder recipients</label>
            <label lang="de-DE">Rollen für Flowbuilder-Empfänger</label>
        </component>

        <input-field type="text">
            <name>gtmId</name>
            <label>Google Tag Manager ID</label>
            <placeholder>z. B. GTM-ABCDEFGH</placeholder>
            <helpText>Geben Sie Ihre Google Tag Manager Container-ID ein.</helpText>
        </input-field>
    </card>

    <card>
        <title>Marker.io Integration</title>

        <input-field type="checkbox">
            <name>markerIoEnabled</name>
            <label>Integration mit Marker.io aktivieren</label>
            <default-value>false</default-value>
        </input-field>

        <input-field type="text">
            <name>markerIoProject</name>
            <label>Marker.io Projektcode</label>
        </input-field>

    </card>
</config>
